@media screen and (max-width: 1199px) {
  .footer {
    background-color: #2f303a;
    padding: 60px 0;
  }

  .footer__container {
    text-align: center;
  }

  .footer-contacts {
    margin-bottom: 60px;
  }

  .footer-contacts__log {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  .footer-contacts__studio {
    color: var(--text-color-button);
  }

  .list .footer-contacts__info:not(:last-child) {
    margin-bottom: 9px;
  }

  .footer-contacts__address {
    font-family: inherit;
    font-style: normal;
  }

  .footer-contacts__contact {
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--text-color-blue);
    }
  }

  .footer-contacts__contact_address {
    text-decoration: none;
    color: var(--text-color-button);
  }

  .footer-contacts__contact_accent {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

//
//
//
//
//
//
//
//
//
//
//
//

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts {
    margin-bottom: 0px;
  }

  .footer__box {
    margin-bottom: 60px;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//

@media screen and (min-width: 1200px) {
  .footer {
    background-color: #2f303a;
    padding: 60px 0;
  }

  .footer__container {
    display: flex;
    align-items: baseline;
  }

  .footer-contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }

  .footer-contacts__log {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  .footer-contacts__studio {
    color: var(--text-color-button);
  }

  .list .footer-contacts__info:not(:last-child) {
    margin-bottom: 9px;
  }

  .footer-contacts__address {
    font-family: inherit;
    font-style: normal;
  }

  .footer-contacts__contact {
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--text-color-blue);
    }
  }

  .footer-contacts__contact_address {
    text-decoration: none;
    color: var(--text-color-button);
  }

  .footer-contacts__contact_accent {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
