.section-desissions {
  background-color: #2f303a;
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .section-desissions {
    padding: 118px 0;
  }
}
