@media screen and (max-width: 767px) {
  .team-photo:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-photo {
  background: var(--text-color-button);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: none;
}

.section-team {
  background-color: var(--button-color);
}

.team-interests {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-job {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--text-color-button);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--text-color-blue);
  }
}

.team-social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .team-social-link:hover &,
  .team-social-link:focus & {
    fill: var(--text-color-button);
  }
}

//
//
//
//
//
//
//
//
//
//
//
//

@media screen and (min-width: 768px) {
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .team-photo {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//

@media screen and (min-width: 1200px) {
  .team-cards {
    flex-wrap: nowrap;
  }

  .team-interests {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
