@media screen and (max-width: 767px) {
  .works {
    display: none;
  }
}

//
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 

@media screen and (min-width: 768px) {
  .works {
    display: none;
  }
}

//
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 

@media screen and (min-width: 1200px) {
  .section.works .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works {
    display: block;
    padding-top: 0;
  }

  .work-items {
    display: block;
  }

  .works-img {
    display: flex;
  }

  .list-items:not(:last-child) {
    margin-right: 30px;
  }
}
