@media screen and (max-width: 767px) {
  .porfolio__overlay-text {
    background: rgba(33, 150, 243, 0.9);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--text-color-button);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transform: translate(0, 100%);
    transition: transform 250ms linear;

    .porfolio__link:hover &,
    .porfolio__link:focus & {
      transform: translate(0, 0);
    }
  }

  .porfolio__info {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .porfolio__link:hover &,
    .porfolio__link:focus & {
      display: block;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .image {
    box-sizing: border-box;
    background: var(--text-color-button);

    & .portfolio__title {
      color: var(--title-text-color);
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      margin-bottom: 4px;
    }

    & .portfolio__text {
      color: var(--primary-text-color);
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.03em;
    }
  }

  .porfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .porfolio__link {
    text-decoration: none;
  }

  .porfolio__overlay {
    position: relative;
    overflow: hidden;
  }

  .porfolio__info {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//

@media screen and (min-width: 768px) {
  .porfolio__overlay-text {
    background: rgba(33, 150, 243, 0.9);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--text-color-button);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transform: translate(0, 100%);
    transition: transform 250ms linear;

    .porfolio__link:hover &,
    .porfolio__link:focus & {
      transform: translate(0, 0);
    }
  }

  .porfolio__info {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .porfolio__link:hover &,
    .porfolio__link:focus & {
      display: block;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .image {
    box-sizing: border-box;
    background: var(--text-color-button);

    & .portfolio__title {
      color: var(--title-text-color);
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      margin-bottom: 4px;
    }

    & .portfolio__text {
      color: var(--primary-text-color);
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.03em;
    }
  }

  .porfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .porfolio__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .porfolio__overlay {
    position: relative;
    overflow: hidden;
  }

  .porfolio__info {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    flex-grow: 1;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//

@media screen and (min-width: 1200px) {
  .porfolio__overlay-text {
    background: rgba(33, 150, 243, 0.9);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--text-color-button);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transform: translate(0, 100%);
    transition: transform 250ms linear;

    .porfolio__link:hover &,
    .porfolio__link:focus & {
      transform: translate(0, 0);
    }
  }

  .porfolio__info {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .porfolio__link:hover &,
    .porfolio__link:focus & {
      display: block;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .image {
    box-sizing: border-box;
    background: var(--text-color-button);

    & .portfolio__title {
      color: var(--title-text-color);
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      margin-bottom: 4px;
    }

    & .portfolio__text {
      color: var(--primary-text-color);
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.03em;
    }
  }

  .porfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }

  .porfolio__link {
    text-decoration: none;
  }

  .porfolio__overlay {
    position: relative;
    overflow: hidden;
  }

  .porfolio__info {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
}
